services:
  db:
    image: postgres:15
    restart: always
    environment:
      POSTGRES_USER: irazafim
      POSTGRES_PASSWORD: irazafim_pw
      POSTGRES_DB: canada_db
    ports:
      - '5432:5432'
    volumes:
      - postgres_data:/var/lib/postgresql/data
volumes:
  postgres_data: